* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  background-color: hsl(0, 0%, 100%);
  min-height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  border: hsl(0, 0%, 100%) 1px solid;
  border-radius: 1rem;
}

.score {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  background-image: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
  color: hsl(0, 0%, 100%);
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  padding: 1rem 3.5rem 2.5rem 3.5rem;
}

.score h3 {
  color: #ccc5fd;
}

.score p {
  opacity: 0.8;
}

.score-circle {
  background-image: linear-gradient(
    to bottom,
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  width: 120px;
  padding: 1rem;
  margin: auto;
  border-radius: 50%;
}

.score-circle::before {
  content: "76";
  font-size: 3rem;
  font-weight: 800;
}

.score-circle p {
  font-size: 14px;
  color: #ccc5fd;
}

.summary {
  display: flex;
  flex-direction: column;
  padding: 1rem 1.75rem;
  gap: 1rem;
}

.summary h3 {
  font-weight: 700;
}

.skills {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: auto;
  padding: 12px 12px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 18px;
}

.skills p {
  color: #303b59;
  font-weight: 700;
}

.skills p span {
  opacity: 0.5;
}

.skill {
  display: flex;
  gap: 0.5rem;
}

.skills:nth-child(2) {
  background-color: hsla(0, 100%, 67%, 0.295);
}

.skills:nth-child(2) h4 {
  color: hsl(0, 100%, 67%);
}

.skills:nth-child(3) {
  background-color: hsla(39, 100%, 56%, 0.459);
}

.skills:nth-child(3) h4 {
  color: hsl(39, 100%, 56%);
}

.skills:nth-child(4) {
  background-color: hsla(166, 100%, 37%, 0.425);
}

.skills:nth-child(4) h4 {
  color: hsl(166, 100%, 37%);
}

.skills:nth-child(5) {
  background-color: hsl(241, 100%, 89%);
}

.skills:nth-child(5) h4 {
  color: hsl(234, 85%, 45%);
}

button {
  background-color: hsl(224, 30%, 27%);
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  padding: 12px 8px;
  border: transparent;
  border-radius: 1.5rem;
  transition-duration: 0.4s;
}

button:hover {
  transform: translateX(5px);
  background-color: hsl(241, 81%, 54%);
}

button:active {
  transform: scale(1.05) translateX(10px);
  background-color: hsl(241, 78%, 51%);
}

@media (min-width: 768px) {
  body {
    background-color: #f3f2f7;
  }

  .card {
    flex-direction: row;
    width: 700px;
    height: 425px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0%;
    border-radius: 24px;
    background-color: hsl(0, 0%, 100%);
    border: transparent;
    box-shadow: 3px 3px#eef0f793;
  }

  .score {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    border-radius: 24px;
    gap: 2rem;
  }

  .score-content {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    gap: 0.5rem;
  }

  .score-circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scale: 1.2;
    margin: 0%;
    width: 150px;
    height: 150px;
  }

  .summary {
    width: 60%;
    justify-content: space-around;
  }

  .skills {
    width: 95%;
    margin: 0%;
    margin-left: auto;
    margin-right: auto;
    padding-right: 1.5rem;
    padding-left: 1rem;
  }

  .attribution {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
